html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}
:focus {outline: 0;}
ins {text-decoration: none;}
del {text-decoration: line-through;}
table {border-collapse: collapse;border-spacing: 0;}
body {line-height: 1;position:relative;background-color:#313131;}
div.clear{position:relative;clear:both;}
p,li,ol{font-size:14px;font-family:Verdana;color:#fff;}

/* DIV TEST RESOLUTION */
div.dim{position:absolute;top:0;left:0;background-color:#eee;color:#000;z-index:9999;padding:15px;}

/* -----------------------------------*/
/* -------- BLOC HEADER --------------*/
/* -----------------------------------*/
div.header{background-color:#222;width:100%;height:100px;box-shadow:0px 2px 7px #272727;}
div.header>div.logo{padding:5px 0 0 25px;float: left;}
div.header>div.logo img{width:100%;}

div.header>div.menu{float:left;margin-left:25px;}
div.header>div.menu>ul{padding-top:52px;}
div.header>div.menu>ul>li{float:left;height:30px;}
div.header>div.menu>ul>li:hover{}
div.header>div.menu>ul>li>a{display:block;height:23px;background:url(images/aNormal.png) 10px top no-repeat #181818;padding:7px 15px 0 40px;margin-right:10px;color:#fff;text-transform:uppercase;font-size:18px;text-decoration:none;}
div.header>div.menu>ul>li>a:hover{background:url(images/aHover.png) 10px top no-repeat #181818;}
div.header>div.menu>ul>li.active>a{background:url(images/aActive.png) 10px top no-repeat #181818;}

div.header>div.compte{float:right;width: 340px;border-left: 2px solid #181818;height: 80px;margin-top:10px;}
div.header>div.compte label{color:#fff;text-transform:uppercase;font-size:16px;margin-left:15px;display:block;float:left;width:115px;padding-top:4px;}
div.header>div.compte input.text{color:#fff;border:1px solid #111;background-color:#181818;padding:2px;width:190px;font-size:11px;height:16px;}
div.header>div.compte input.login,div.header>div.compte input.password{margin-bottom:5px;}
div.header>div.compte input.submit{text-indent:-9999px;display:block;width:158px;height:25px;margin-left:40px;border:0;background:url(images/btnConnec.png) left top no-repeat transparent;float:left;}
div.header>div.compte input.submit:hover{cursor:pointer;}
div.header>div.compte a.register{text-indent:-9999px;display:block;width:125px;height:25px;margin-left:5px;border:0;background:url(images/btnRegister.png) left top no-repeat transparent;float:left;}

/* -----------------------------------*/
/* -------- BLOCS PRINCIPAUX ---------*/
/* -----------------------------------*/
div.page{position:relative;}
div.page>div.contentLeft{margin:50px 150px;}
div.page>div.contentLeft>div.bloc{float:left;margin:0 35px 35px 0;height:258px;}
div.page>div.contentLeft>div.bloc>div.titre{width:100%;display:block;height:30px;background:url(images/fdTitre.png) 10px top no-repeat #181818;}
div.page>div.contentLeft>div.bloc>div.titre>h1{color:#fff;text-transform:uppercase;padding:8px 0 0 40px;}

/* -----------------------------------*/
/* -------- BLOC PRESENTATION --------*/
/* -----------------------------------*/
div.page>div.contentLeft>div.bloc_presentation{width:298px;border:1px solid #181818;border-top:0;}
div.page>div.contentLeft>div.bloc_presentation>div.texte>p{padding:15px;color:#fff;line-height:18px;font-size:14px;}

/* -----------------------------------*/
/* -------- BLOC DES NEWS ------------*/
/* -----------------------------------*/
div.page>div.contentLeft>div.bloc_news{width:598px;border:1px solid #181818;min-height:250px;border-top:0;position:relative;}
div.page>div.contentLeft>div.bloc_news>div.texte{padding:10px;}

/* Liste */
div.page>div.contentLeft>div.bloc_news>div.texte>div.listeNews{float:left;width:199px;border-right:1px solid #181818;}
div.page>div.contentLeft>div.bloc_news>div.texte>div.listeNews>ul{}
div.page>div.contentLeft>div.bloc_news>div.texte>div.listeNews>ul>li{width:189px;height:33px;margin-bottom:2px;background:url(images/fdListNews.png) 175px 7px no-repeat #202020;line-height:33px;padding-left: 10px;}
div.page>div.contentLeft>div.bloc_news>div.texte>div.listeNews>ul>li:hover{background-color:#181818;cursor:pointer;}
div.page>div.contentLeft>div.bloc_news>div.texte>div.listeNews>ul>li.active{background:url(images/fdListNewsActive.png) 175px 7px no-repeat #181818;}
div.page>div.contentLeft>div.bloc_news>div.texte>div.listeNews>ul>li.active>h2{color:#ff2c02;}
div.page>div.contentLeft>div.bloc_news>div.texte>div.listeNews>ul>li.last{background:none;background-color:#222;margin-bottom:0;text-align:center;padding:0;width:199px;}
div.page>div.contentLeft>div.bloc_news>div.texte>div.listeNews>ul>li.last:hover{background-color:#181818;cursor:pointer;}

/* Lecteur */
div.page>div.contentLeft>div.bloc_news>div.texte>div.lecteurNews{float:left;width: 368px;margin-left: 10px;}
div.page>div.contentLeft>div.bloc_news>div.texte>div.lecteurNews>div.date{margin:5px 0 15px 0;}
div.page>div.contentLeft>div.bloc_news>div.texte>div.lecteurNews>div.date>p{font-size:11px;}
div.page>div.contentLeft>div.bloc_news>div.texte>div.lecteurNews>div.texte{}
div.page>div.contentLeft>div.bloc_news>div.texte>div.lecteurNews>div.texte>p{line-height:18px;font-size:14px;}
div.page>div.contentLeft>div.bloc_news>div.texte>div.lecteurNews>div.enSavoirPlus{position:absolute;right:10px;bottom:10px;}
div.page>div.contentLeft>div.bloc_news>div.texte>div.lecteurNews>div.enSavoirPlus>a{padding:2px 0 0 5px;display:block;background:url(images/fdBtnEnSavoirPlus.png) 150px 2px no-repeat #202020;border:1px solid #181818;width:163px;height:17px;font-size:14px;text-transform:uppercase;color:#fff;text-decoration:none;}
div.page>div.contentLeft>div.bloc_news>div.texte>div.lecteurNews>div.enSavoirPlus>a:hover{background-color:#181818;}

/* -----------------------------------*/
/* -------- BLOC MUMBLE --------------*/
/* -----------------------------------*/
div.page>div.contentLeft>div.bloc_mumble{width:298px;border:1px solid #181818;min-height:250px;border-top:0;}
div.page>div.contentLeft>div.bloc_mumble>div.texte>p{padding:15px;color:#fff;line-height:18px;font-size:14px;}

/* -----------------------------------*/
/* -------- BLOC EVENTS --------------*/
/* -----------------------------------*/
div.page>div.contentLeft>div.bloc_events{width:598px;border:1px solid #181818;min-height:250px;border-top:0;position:relative;}
div.page>div.contentLeft>div.bloc_events>div.texte{padding:10px;}

/* Liste */
div.page>div.contentLeft>div.bloc_events>div.texte>div.listeEvents{float:left;width:199px;border-right:1px solid #181818;}
div.page>div.contentLeft>div.bloc_events>div.texte>div.listeEvents>ul{}
div.page>div.contentLeft>div.bloc_events>div.texte>div.listeEvents>ul>li{width:189px;height:33px;margin-bottom:2px;background:url(images/fdListNews.png) 175px 7px no-repeat #202020;line-height:33px;padding-left: 10px;}
div.page>div.contentLeft>div.bloc_events>div.texte>div.listeEvents>ul>li:hover{background-color:#181818;cursor:pointer;}
div.page>div.contentLeft>div.bloc_events>div.texte>div.listeEvents>ul>li.active{background:url(images/fdListNewsActive.png) 175px 7px no-repeat #181818;}
div.page>div.contentLeft>div.bloc_events>div.texte>div.listeEvents>ul>li.active>h2{color:#ff2c02;}
div.page>div.contentLeft>div.bloc_events>div.texte>div.listeEvents>ul>li.last{background:none;background-color:#222;margin-bottom:0;text-align:center;padding:0;width:199px;}
div.page>div.contentLeft>div.bloc_events>div.texte>div.listeEvents>ul>li.last:hover{background-color:#181818;cursor:pointer;}

/* Lecteur */
div.page>div.contentLeft>div.bloc_events>div.texte>div.lecteurEvents{float:left;width: 368px;margin-left: 10px;}
div.page>div.contentLeft>div.bloc_events>div.texte>div.lecteurEvents>div.date{margin:5px 0 15px 0;}
div.page>div.contentLeft>div.bloc_events>div.texte>div.lecteurEvents>div.date>p{font-size:11px;}
div.page>div.contentLeft>div.bloc_events>div.texte>div.lecteurEvents>div.texte{}
div.page>div.contentLeft>div.bloc_events>div.texte>div.lecteurEvents>div.texte>p{line-height:18px;font-size:14px;}
div.page>div.contentLeft>div.bloc_events>div.texte>div.lecteurEvents>div.inscription{position:absolute;right:183px;bottom:10px;}
div.page>div.contentLeft>div.bloc_events>div.texte>div.lecteurEvents>div.inscription>a{padding:2px 0 0 5px;display:block;background:url(images/fdBtnEnSavoirPlus.png) 100px 2px no-repeat #202020;border:1px solid #181818;width:113px;height:17px;font-size:14px;text-transform:uppercase;color:#fff;text-decoration:none;}
div.page>div.contentLeft>div.bloc_events>div.texte>div.lecteurEvents>div.inscription>a:hover{background-color:#181818;}
div.page>div.contentLeft>div.bloc_events>div.texte>div.lecteurEvents>div.enSavoirPlus{position:absolute;right:10px;bottom:10px;}
div.page>div.contentLeft>div.bloc_events>div.texte>div.lecteurEvents>div.enSavoirPlus>a{padding:2px 0 0 5px;display:block;background:url(images/fdBtnEnSavoirPlus.png) 150px 2px no-repeat #202020;border:1px solid #181818;width:163px;height:17px;font-size:14px;text-transform:uppercase;color:#fff;text-decoration:none;}
div.page>div.contentLeft>div.bloc_events>div.texte>div.lecteurEvents>div.enSavoirPlus>a:hover{background-color:#181818;}


div.page>div.contentRight{position:absolute;right:0px;top:-50px;}
div.page>div.contentRight>div.colonneSelection>div.item{border:2px solid #272727;opacity:0.6;width:90px;}
div.page>div.contentRight>div.colonneSelection>div.item:hover{opacity:1;cursor:pointer;}
div.page>div.contentRight>div.colonneSelection>div.item.active{opacity:1;border:2px solid #111;}








/* -----------------------------------*/
/* -------- MEDIAQUERIES -------------*/
/* -----------------------------------*/

/* Pour une résolution comprise entre 1024px et 1440px */
@media (min-width:1567px){
	div.header>div.menu{float:left;margin-left:25px;}
	div.header>div.menu>ul{padding-top:52px;}
}
/* Pour une résolution comprise entre 1024px et 1440px */
@media (min-width:1437px) and (max-width:1566px){
	div.header>div.menu{float:left;margin-left:25px;width:550px;}
	div.header>div.menu>ul{padding-top:15px;}
	div.header>div.menu>ul>li{margin-bottom:10px;}
}
@media (min-width:1354px) and (max-width:1436px){
	div.header>div.menu{float:left;margin-left:25px;width:450px;}
	div.header>div.menu>ul{padding-top:15px;}
	div.header>div.menu>ul>li{margin-bottom:10px;}
}
@media (min-width:1278px) and (max-width:1355px){
	div.header>div.menu{float:left;margin-left:25px;width:375px;}
	div.header>div.menu>ul{padding-top:15px;}
	div.header>div.menu>ul>li{height:29px;margin-bottom:10px;}
	div.header>div.menu>ul>li>a{height:22px;padding:8px 15px 0 40px;font-size:16px;}
}
@media (min-width:1180px) and (max-width:1278px){
	div.header>div.logo{padding:15px 0 0 25px;width:375px;}

	div.header>div.menu{float:left;margin-left:25px;width:500px;}
	div.header>div.menu>ul{padding-top:15px;}
	div.header>div.menu>ul>li{height:29px;margin-bottom:10px;}
	div.header>div.menu>ul>li>a{height:22px;padding:9px 15px 0 40px;font-size:16px;}

	div.header>div.compte{width:240px;}
	div.header>div.compte label{font-size:14px;margin-left:15px;width:105px;}
	div.header>div.compte input.text{width:110px;}
	div.header>div.compte input.submit{width:101px;background:url(images/btnConnecPetit.png) left top no-repeat transparent;}
	div.header>div.compte a.register{width:90px;margin-left:5px;background:url(images/btnRegisterPetit.png) left top no-repeat transparent;}
}
@media (min-width:1023px) and (max-width:1179px){
	div.header>div.logo{padding:15px 0 0 25px;width:350px;}

	div.header>div.menu{float:left;margin-left:25px;width:350px;}
	div.header>div.menu>ul{padding-top:15px;}
	div.header>div.menu>ul>li{height:29px;margin-bottom:10px;}
	div.header>div.menu>ul>li>a{height:22px;padding:9px 10px 0 35px;font-size:14px;}

	div.header>div.compte{width:240px;}
	div.header>div.compte label{font-size:14px;margin-left:15px;width:105px;}
	div.header>div.compte input.text{width:110px;}
	div.header>div.compte input.submit{width:101px;background:url(images/btnConnecPetit.png) left top no-repeat transparent;}
	div.header>div.compte a.register{width:90px;margin-left:5px;background:url(images/btnRegisterPetit.png) left top no-repeat transparent;}
}